
body {
	background-color: gainsboro;
	margin: 30px 
}
h1 { 
	text-align: center;
	font-family: "Palatino Linotype";
}
h2{
	color:grey;
	font-family: "Palatino Linotype";
}
p {
	color: grey; 
	margin-left:; 
	margin-right: 30px;
	font-family: "Palatino Linotype";
}

nav {
	text-align: center;
	font-family: "Palatino Linotype";
}